{% extends 'admin.html.twig' %}

{% block content %}
<div class="row no-pad">
	<div class="large-12 columns">
		<div class="box bg-white">
			<div class="box-body pad-forty" style="display: block;">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'countryNew' }}) }}
					{{ form_errors(form) }}
					<div class="row">
						<div class="large-12 columns">
							<h4>{{ 'Add new Country' | trans }}</h4>
						</div>
						<div class="large-12 columns">
							<div class="form-group">
								{{ form_label(form.file, 'file' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
								{{ form_errors(form.file) }}
								<div class="col-sm-5">
									{{ form_widget(form.file, { 'attr': {'class': 'form-control validate[required]'} }) }}
								</div>
							</div>
						</div>
						<div class="large-6 columns">
							<div class="form-group">
								{{ form_label(form.hr, 'hr' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
								{{ form_errors(form.hr) }}
								<div class="col-sm-5">
									{{ form_widget(form.hr, { 'attr': {'class': 'form-control validate[required]'} }) }}
								</div>
							</div>
						</div>
						<div class="large-6 columns">
							<div class="form-group">
								{{ form_label(form.en, 'En' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
								{{ form_errors(form.en) }}
								<div class="col-sm-5">
									{{ form_widget(form.en, { 'attr': {'class': 'form-control validate[required]'} }) }}
								</div>
							</div>
						</div>
						<div class="large-6 columns">
							<div class="form-group">
								{{ form_label(form.de, 'De' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
								{{ form_errors(form.de) }}
								<div class="col-sm-5">
									{{ form_widget(form.de, { 'attr': {'class': 'form-control validate[required]'} }) }}
								</div>
							</div>
						</div>
						<div class="large-6 columns">
							<div class="form-group">
								{{ form_label(form.it, 'It' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
								{{ form_errors(form.it) }}
								<div class="col-sm-5">
									{{ form_widget(form.it, { 'attr': {'class': 'form-control validate[required]'} }) }}
								</div>
							</div>
						</div>



						<div class="large-12 columns">
							{{ form_rest(form) }}
						</div>
						<div class="large-12 columns">
							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-3">
									<input type="submit" name="register" class="btn bg-blue" value="{{ 'create' | trans }}" />
								</div>
							</div>
						</div>
					</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<a class="btn bg-green" href="{{ path('admin_location_countries', {'_locale': app.request.attributes.get('_locale')}) }}">{{ 'Back to Countries' | trans }}</a>
	</div>
</div>
{% endblock %}