{% extends 'base.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('msgSuccess') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('msgError') %}
        {{ flashMessage }}
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'unitNew' }}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.fromDate, 'fromDate' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
        {{ form_errors(form.fromDate) }}
        <div class="col-sm-5">
            {{ form_widget(form.fromDate, { 'attr': {'class': 'form-control validate[required]'} }) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.toDate, 'toDate' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
        {{ form_errors(form.toDate) }}
        <div class="col-sm-5">
            {{ form_widget(form.toDate, { 'attr': {'class': 'form-control validate[required]'} }) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.unit, 'unit' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
        {{ form_errors(form.unit) }}
        <div class="col-sm-5">
            {{ form_widget(form.unit, { 'attr': {'class': 'form-control validate[required]'} }) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.price, 'unit' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
        {{ form_errors(form.price) }}
        <div class="col-sm-5">
            {{ form_widget(form.price, { 'attr': {'class': 'form-control validate[required]'} }) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
            <input type="submit" name="save" class="btn btn-default" value="{{ 'save' | trans }}" />
        </div>
    </div>

    {{ form_end(form) }}

    <a href="{{ path('app_bookings', {'_locale': app.request.attributes.get('_locale') }) }}">{{ 'back' | trans }}</a>

{% endblock %}