<div class="large-12 columns city-name">
    <label class="col-sm-3 control-label">{{ 'city' | trans }}</label>
    <div class="col-sm-5">
        <select name="{{ type }}[city]" class="citiesSelect {{ typeClass }}">
            <option value="">{{ 'choose_option' | trans }}</option>
            {% for city in cities %}
                <option value="{{ city.id }}">{{ attribute(city, app.request.locale) ?: city.en }}</option>
            {% endfor %}
        </select>
    </div>
</div>