{% extends 'admin.html.twig' %}
{% block content %}
<div class="row no-pad">
	<div class="large-12 columns">
		<div class="box bg-white">
			<div class="box-body pad-forty" style="display: block;">
                {% for flashMessage in app.session.flashbag.get('msgSuccess') %}
                    {{ flashMessage }}
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('msgError') %}
                    {{ flashMessage }}
                {% endfor %}

				{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'accommodationNew' }}) }}
				{{ form_errors(form) }}
				<div class="row">
					<div class="large-12 columns">
						<h4>{{ 'Create new Accommodation' | trans }}</h4>
						<hr>
					</div>
					<div class="large-6 columns">
						<div class="form-group">
							{{ form_label(form.name, 'name' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.name) }}
							<div class="col-sm-5">
								{{ form_widget(form.name, { 'attr': {'class': 'form-control validate[required]'} }) }}
							</div>
						</div>
					</div>
                    {# Free WiFi #}
                    <div class="row">
                        <fieldset>
                            <legend>{{ 'wifi' | trans }}</legend>

							<div class="large-3 columns">
								<label>{{ 'availability' | trans }}</label>
								<select name="wifi" class="availabilitySelect">
									<option value="2" >{{ 'yes_it_is_free' | trans }}</option>
									<option value="1" >{{ 'yes_to_be_paid' | trans }}</option>
									<option value="0" selected="selected">{{ 'no' | trans }}</option>
								</select>
							</div>

							<div class="large-3 columns priceDiv">
								{{ form_label(form.wifi, 'wifi_price' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
								{{ form_errors(form.wifi) }}
								<div class="col-sm-5">
									{{ app.session.get('currency') }}
									{{ form_widget(form.wifi, { 'attr': {'class': 'form-control priceInput'} }) }}
								</div>
							</div>
                        </fieldset>
                        <br />
                    </div>
					<div class="large-6 columns">
						<div class="form-group">
							{{ form_label(form.accommodationCategory, 'accommodation_category' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.accommodationCategory) }}
							<div class="col-sm-5">
								{{ form_widget(form.accommodationCategory, { 'attr': {'class': 'form-control validate[required]'} }) }}
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="form-group">
							{{ form_label(form.user, 'user' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.user) }}
							<div class="col-sm-5">
								{{ form_widget(form.user, { 'attr': {'class': 'form-control validate[required]'} }) }}
							</div>
						</div>
					</div>
					{# Location #}
					<div class="large-6 columns">
						<div class="form-group">
							<label class="col-sm-3 control-label">{{ 'country' | trans }}</label>
							<div class="col-sm-5">
								<select name="country" id="country" class="countrySelect _accommodation">
									<option value="">{{ 'choose_option' | trans }}</option>
									{% for country in countries %}
										<option value="{{ country.id }}">{{ attribute(country, app.request.locale) }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="form-group regionsDiv">
							<label class="col-sm-3 control-label">{{ 'region' | trans }}</label>
							<div class="col-sm-5">
								<select name="region" class="regionsSelect _accommodation" id="region" disabled="disabled">
									<option value="">{{ 'choose_option' | trans }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="form-group subregionsDiv">
							<label class="col-sm-3 control-label">{{ 'subregion' | trans }}</label>
							<div class="col-sm-5">
								<select name="subregion" class="subregionsSelect _accommodation" id="subregion" disabled="disabled">
									<option value="">{{ 'choose_option' | trans }}</option>
								</select>
							</div>
						</div>
					</div>
                    <div class="large-6 columns">
                        <div class="form-group citiesDiv">
                            <label class="col-sm-3 control-label">{{ 'city' | trans }}</label>
                            <div class="col-sm-5">
                                <select name="subregion" class="citiesSelect _accommodation" id="city" disabled="disabled">
                                    <option value="">{{ 'choose_option' | trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
					{#<div class="large-6 columns">#}
						{#<div class="form-group citiesDiv">#}
							{#{{ form_label(form.city, 'city' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}#}
							{#{{ form_errors(form.city) }}#}
							{#<div class="col-sm-5">#}
								{#{{ form_widget(form.city, { 'attr': {'class': 'citiesSelect _accommodation form-control', 'disabled': 'disabled'} }) }}#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
					<div class="large-6 columns">
						<div class="form-group">
							{{ form_label(form.address, 'Address' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.address) }}
							<div class="col-sm-5">
								{{ form_widget(form.address, { 'attr': {'class': 'form-control validate[required]'} }) }}
							</div>
						</div>
					</div>

					<div class="large-12 columns address">
						<fieldset class="gllpLatlonPicker">
							<legend>Your location</legend>
							<div class="row">
								<div class="large-12 columns">
									<input type="text" class="gllpSearchField" placeholder="Enter your address here..."/>
								</div>
							</div>
							<div class="row">
								<div class="large-6 columns">
									<div class="gllpMap" style="max-width: 100%;">Google Maps</div>
								</div>
								<div class="large-6 columns">
									{{ form_label(form.x, 'Longitude(x)' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }} {{ form_widget(form.x, { 'attr': {'class': 'form-control validate[required] gllpLongitude'} }) }} {{ form_errors(form.x) }}
									{{ form_label(form.y, 'Latitude(y)' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}{{ form_widget(form.y, { 'attr': {'class': 'form-control validate[required] gllpLatitude'} }) }} {{ form_errors(form.y) }}
									<label class="col-sm-3 control-label" for="gllpZoom">Zoom</label><input type="text" class="gllpZoom" value="3"/>
									<input type="button" class="gllpUpdateButton bg-blue btn" value="update map" />
									<input type="button" class="gllpSearchButton btn bg-blue" value="search">
								</div>
							</div>
						</fieldset>
					</div>
					<div class="large-6 columns">
						<div class="form-group">
							{{ form_label(form.checkIn, 'Check In' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.checkIn) }}
							<div class="col-sm-5">
								{{ form_widget(form.checkIn, { 'attr': {'class': 'form-control citiesSelect'} }) }}
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="form-group">
							{{ form_label(form.checkOut, 'Check Out' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.checkOut) }}
							<div class="col-sm-5">
								{{ form_widget(form.checkOut, { 'attr': {'class': 'form-control citiesSelect'} }) }}
							</div>
						</div>
					</div>

					<div class="large-12 columns">
						<div class="form-group">
							{{ form_label(form.web, 'Web site' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.web) }}
							<div class="col-sm-5">
								{{ form_widget(form.web, { 'attr': {'class': 'form-control citiesSelect'} }) }}
							</div>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.distance, 'Distance from' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>
								{{ form_errors(form.distance) }}
								<div class="col-sm-5">
									{{ form_widget(form.distance, { 'attr': {'class': 'form-control gridDescription'} }) }}
								</div>
							</fieldset>
						</div>
					</div>

					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.activities, 'Activities' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>
								{{ form_errors(form.activities) }}
								<div class="col-sm-5">
									{{ form_widget(form.activities, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.facilities, 'Facilities' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>
								{{ form_errors(form.facilities) }}
								<div class="col-sm-5">
									{{ form_widget(form.facilities, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.beaches, 'Beaches' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>
								{{ form_errors(form.beaches) }}
								<div class="col-sm-5">
									{{ form_widget(form.beaches, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.additionals, 'Additionals' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>
								{{ form_errors(form.additionals) }}
								<div class="col-sm-5">
									{{ form_widget(form.additionals, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.payments, 'Payments' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>
								{{ form_errors(form.payments) }}
								<div class="col-sm-5">
									{{ form_widget(form.payments, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>

					<div class="large-12 columns">
						<div class="form-group">
							{{ form_label(form.prepay, 'Prepay' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(form.prepay) }}
							<div class="col-sm-5">
								{{ form_widget(form.prepay, { 'attr': {'class': 'form-control citiesSelect'} }) }}
							</div>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.fees, 'Fees' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>								{{ form_errors(form.fees) }}
								<div class="col-sm-5">
									{{ form_widget(form.fees, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.advertisingPackage, 'Advertising Package' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>								{{ form_errors(form.fees) }}
								<div class="col-sm-5">
									{{ form_widget(form.advertisingPackage, { 'attr': {'class': 'form-control citiesSelect'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<fieldset>
								<legend>{{ form_label(form.description, 'Description' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}</legend>								{{ form_errors(form.fees) }}
								<div class="col-sm-5">
									{{ form_widget(form.description, { 'attr': {'class': 'form-control gridDescription'} }) }}
								</div>
							</fieldset>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							{{ form_rest(form) }}
						</div>
					</div>
					<div class="large-12 columns">
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-3">
								<input type="submit" name="create" class="btn bg-blue" value="{{ 'create' | trans }}" />
							</div>
						</div>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<a class="btn bg-green" href="{{ path('admin_accommodation', {'_locale': app.request.attributes.get('_locale')}) }}">{{ 'Back to Accommodations' | trans }}</a>
	</div>
</div>
{% endblock %}

{% block js %}
	{{ parent() }}

	<script src="{{asset('bundles/app/js/location_ajax.js')}}"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<script type="text/javascript">

        $(document).ready(function () {
            $('#accommodation_wifi').val(0);

            $('.wifi_availability').on('change', function(e){
                if($(this).val() > 0) {
                    $('#accommodation_wifi').val(0);
                    $('.wifiDiv').show();
                } else {
                    $('.wifiDiv').hide();
                }
            });
        });

		$(".gllpSearchField").bind("keypress", {}, keypressInBox);

		function keypressInBox(e) {
		    var code = (e.keyCode ? e.keyCode : e.which);
		    if (code == 13) { //Enter keycode
		        e.preventDefault();

		        $(".gllpSearchButton").click();
		    }
		};

		$(".gllpLatitude").bind("keypress", {}, keypressInBox4);

		function keypressInBox4(e) {
		    var code = (e.keyCode ? e.keyCode : e.which);
		    if (code == 13) { //Enter keycode
		        e.preventDefault();

		        $(".gllpUpdateButton").click();
		    }
		};

		$(".gllpLongitude").bind("keypress", {}, keypressInBox2);

		function keypressInBox2(e) {
		    var code = (e.keyCode ? e.keyCode : e.which);
		    if (code == 13) { //Enter keycode
		        e.preventDefault();

		        $(".gllpUpdateButton").click();
		    }
		};

		$(".gllpZoom").bind("keypress", {}, keypressInBox3);

		function keypressInBox3(e) {
		    var code = (e.keyCode ? e.keyCode : e.which);
		    if (code == 13) { //Enter keycode
		        e.preventDefault();

		        $(".gllpUpdateButton").click();
		    }
		};
	</script>
{% endblock %}