{% extends 'admin.html.twig' %}
{% block menu %}
	{% include 'steps_menu.html.twig' %}
{% endblock %}
{% block sidemenu %}
	{% include 'includes/sidemenu-user.html.twig' %}
{% endblock %}
{% block content %}
<div class="row no-pad">
	<div class="large-12 columns">
		<div class="box-body">
			<div class="large-12 columns">
				<div class="bg-white pad-forty panel box">
					{% for flashMessage in app.session.flashbag.get('msgSuccess') %}
					<div class="box bg-light-green">
						<div class="box-header bg-light-green ">
							<!-- tools box -->
							<div class="pull-right box-tools">
								<span class="box-btn" data-widget="remove">
									<i class="icon-cross"></i>
								</span>
							</div>
							<h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
								<span class="text-white">SUCCESS</span>
							</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body " style="display: block;">
							<p class="text-white"><strong>Well done!</strong> {{ flashMessage }}</p>
						</div>
					</div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('msgError') %}
					<div class="box bg-red">
						<div class="box-header bg-red ">
							<!-- tools box -->
							<div class="pull-right box-tools">
								<span class="box-btn" data-widget="remove">
									<i class="icon-cross"></i>
								</span>
							</div>
							<h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
								<span class="text-white">Error</span>
							</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body " style="display: block;">
							<p class="text-white"><strong>Sorry!</strong> {{ flashMessage }}</p>
						</div>
					</div>
					{% endfor %}

					{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'unitEdit' }}) }}
					{{ form_errors(form) }}

					<div class="form-group">
						{{ form_label(form.name, 'name' | trans , { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
						{{ form_errors(form.name) }}
						<div class="col-sm-5">
							{{ form_widget(form.name, { 'attr': {'class': 'form-control validate[required]'} }) }}
						</div>
					</div>


                    <div class="row">
                        <fieldset>
                            <legend>{{ 'Price extra' | trans }}</legend>
                            <div class="row">
                                {% for priceE in priceExtra %}
                                    <div class="large-12 columns price">
                                        <fieldset>
                                            <legend>{{ priceE.name | trans }}</legend>
                                            <div class="large-3 columns {{ priceE.name | trans }}">
                                                <label>{{ 'availability' | trans }}</label>
                                                <select name="priceExtra[{{ priceE.name }}][availability]" class="availabilitySelect">
													<option value="2" {{ accommodationService.getUnitPriceExtra(priceE.name, unit) and accommodationService.getUnitPriceExtra(priceE.name, unit).price == 0 and accommodationService.getUnitPriceExtra(priceE.name, unit).availability ? 'selected="selected"' }}>{{ 'yes_it_is_free' | trans }}</option>
													<option value="1" {{ accommodationService.getUnitPriceExtra(priceE.name, unit) and accommodationService.getUnitPriceExtra(priceE.name, unit).price > 0 and accommodationService.getUnitPriceExtra(priceE.name, unit).availability ? 'selected="selected"' }}>{{ 'yes_to_be_paid' | trans }}</option>
													<option value="0" {{ accommodationService.getUnitPriceExtra(priceE.name, unit) == false or accommodationService.getUnitPriceExtra(priceE.name, unit).availability == false ? 'selected="selected"' }}>{{ 'no' | trans }}</option>
                                                </select>
                                            </div>
											<div class="large-9 columns {{ priceE.name | trans }} priceDiv">
												<label>{{ 'Price' | trans }}</label>
												{{ app.session.get('currency') }}

												<input class="priceInput" type="number" name="priceExtra[{{ priceE.name }}][price]" value="{{ accommodationService.getUnitPriceExtra(priceE.name, unit) and accommodationService.getUnitPriceExtra(priceE.name, unit).price > 0 ? accommodationService.getUnitPriceExtra(priceE.name, unit).price : 0 }}">
											</div>
                                            <input type="hidden" name="priceExtra[{{ priceE.name }}][priceExtraId]" value="{{ priceE.id }}">
                                        </fieldset>
                                        <br />
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>

					{{ form_rest(form) }}

					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-3">
							<input type="submit" name="save" class="btn btn-default" value="{{ 'save' | trans }}" />
						</div>
					</div>

					{{ form_end(form) }}


					{# Periods #}
					<div>
						<h1>{{ 'periods' | trans }}</h1>

						<table class="table table-striped table-bordered bootstrap-datatable datatable responsive" id="periods">
							<thead>
							<tr>
								<th>{{ 'from' | trans }}</th>
								<th>{{ 'to' | trans }}</th>
								<th>{{ 'amount' | trans }}</th>
								<th>&nbsp;</th>
							</tr>
							</thead>
							<tbody>

							{% for period in periods %}
								<tr id="{{ period.id }}">
									<td class="center">{{ period.fromDate | date('d.m.Y.') }}</td>
									<td class="center">{{ period.toDate | date('d.m.Y.') }}</td>
									<td class="center">{{ period.amount }}</td>
									<td class="center">
										<a href="{{ path('app_period_delete', {'_locale': app.request.attributes.get('_locale'), 'id' : period.id}) }}"
										   class="btn btn-inverse btn-default btn-xs delete"
										   onclick="return confirm('{{ 'are_you_sure_delete' | trans }}')"
												>
											{{ 'delete' | trans }}
										</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					{# /Periods #}

					{# New period form #}
					<div class="newPeriod">

						<h2>New period form</h2>

						{{ form_start(
							formPeriod, {
								'method': 'POST',
								'action': path('app_period_new', {'_locale': app.request.attributes.get('_locale'), 'unitId' : unit.id}),
								'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'newPeriod'}
							}
						) }}

						<div class="form-group">
							{{ form_label(formPeriod.fromDate, 'from' | trans, { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(formPeriod.fromDate) }}
							<div class="col-sm-5">
								{{ form_widget(formPeriod.fromDate, { 'attr': {'class': 'form-control validate[required]'} }) }}
							</div>
						</div>

						<div class="form-group">
							{{ form_label(formPeriod.toDate, 'to' | trans, { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(formPeriod.toDate) }}
							<div class="col-sm-5">
								{{ form_widget(formPeriod.toDate, { 'attr': {'class': 'form-control validate[required]'} }) }}
							</div>
						</div>

						<div class="form-group">
							<label>{{ 'sign' | trans }}</label>
							<select name="sign">
								<option value="+">+</option>
								<option value="-">-</option>
							</select>
						</div>

						<div class="form-group">
							{{ form_label(formPeriod.amount, 'amount' | trans, { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(formPeriod.amount) }}
							<div class="col-sm-5">
								{{ form_widget(formPeriod.amount, { 'attr': {'class': 'form-control validate[required] datepicker'} }) }}
							</div>
						</div>


						{{ form_rest(formPeriod) }}

						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-3">
								<input type="submit" id="newPeriodSubmit" name="newPeriodSubmit" class="btn btn-default" value="{{ 'save' | trans }}" />
							</div>
						</div>

						{{ form_end(formPeriod) }}
					</div>
					{# /form #}


					{# Form Gallery #}

					<h1>{{ 'gallery' | trans }}</h1>

					{% for photo in unit.gallery %}
						<div class="">
							<div class="{{ photo.featuredImage ? 'featuredImageClass' }}">
								<img src="{{ photo.webPath | imagine_filter('my_thumb') }}" >
							</div>

							{% if not photo.featuredImage %}
								<a href="{{ path('app_featuredImage_unit',
								{'_locale': app.request.attributes.get('_locale'),
								'id' : photo.id }) }}"
										>
									{{ 'set_featured_image' | trans }}
								</a>
							{% endif %}

							<a href="{{ path('app_gallery_unit_delete',
							{'_locale': app.request.attributes.get('_locale'),
							'id' : photo.id }) }}" onclick="return confirm('{{ 'are_you_sure_delete' | trans }}')">
								{{ 'delete' | trans }}
							</a>

						</div>
					{% endfor %}

					{{ form_start(
						formGallery, {
							'method': 'POST',
							'action': path('app_gallery_unit_new', {'_locale': app.request.attributes.get('_locale'), 'id' : unit.id}),
							'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'newGallery'}
							}
						) }}

						<div class="form-group">
							{{ form_label(formGallery.file, 'file' | trans, { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
							{{ form_errors(formGallery.file) }}
							<div class="col-sm-5">
								{{ form_widget(formGallery.file, { 'attr': {'class': 'form-control', 'multiple': 'multiple', 'name': 'files' ~ '[]'} }) }}
							</div>
						</div>

					{{ form_rest(formGallery) }}

						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-3">
								<input type="submit" id="newPeriod" name="newGallery" class="btn btn-default" value="{{ 'save' | trans }}" />
							</div>
						</div>

					{{ form_end(formGallery) }}
					{# /form #}

					<a href="{{ path('app_accommodation_edit', {'_locale': app.request.attributes.get('_locale'), 'id': unit.accommodation.id }) }}">{{ 'back' | trans }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}