{% extends 'base.html.twig' %}

{% block content %}

	{% for flashMessage in app.session.flashbag.get('msgSuccess') %}
		<div data-alert class="alert-box success radius">
			{{ flashMessage }}
			<a href="#" class="close">&times;</a>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('msgError') %}

		<div data-alert class="alert-box warning radius">
			{{ flashMessage }}
			<a href="#" class="close">&times;</a>
		</div>

	{% endfor %}

	<div class="row" id="loginForm93">
		<div class="login-container small-centered column">
			<div class="large-12 columns">
				<h2 class="login-heading">
					{{'RESET_YOUR_PASSWORD' | trans }}
				</h2>
				<span class="login-all-logo"></span>

			</div>
			{% for flashMessage in app.session.flashbag.get('formErrors') %}
				<div class="box bg-red">
					<span class="form-error">{{ flashMessage }}</span>
				</div>
			{% endfor %}
			<div class="large-12 columns">
				{{ form_start(form, {'attr': { 'class':"form-horizontal", 'id':'forgotPassword' }}) }}
				{{ form_errors(form) }}

				{{ form_errors(form.email) }}
				{{ form_widget(form.email, { 'attr': {'name':'email', 'data-validation':'email', 'placeholder': 'Enter_your_email_address' | trans,'class': ' form-control validate[required]'} }) }}
				{{ form_rest(form) }}
			</div>
			<div class="large-12 columns">
				<button type="submit" name="forgotPassword" class="login-screen-button" value="{{ 'send_reset_link' | trans }}" >{{ 'send_reset_link' | trans }}</button>
			</div>
			{{ form_end(form) }}
			<section class="login-publish large-12 columns">
				<span>{{ 'Please_check_your_inbox_for_email_from_us' | trans }}</span>
				<span>{{ 'We_have_send_you_an_link_where_you_can' | trans }}</span>
				<span>
					{{ 'reset_your_password' | trans }}	
				</span>
			</section>
		</div>
	</div>

{% endblock %}