{% extends 'base.html.twig' %}

{% block content %}
	{% block foundation_header %}
		{% include 'includes/foundation-header.html.twig'  %}
	{% endblock %}
	<div class="row" style="padding-top: 100px;"></div>
	{% for flashMessage in app.session.flashbag.get('msgSuccess') %}
		<div data-alert class="alert-box success radius">
			{{ flashMessage }}
			<a href="#" class="close">&times;</a>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('msgError') %}

		<div data-alert class="alert-box warning radius">
			{{ flashMessage }}
			<a href="#" class="close">&times;</a>
		</div>

	{% endfor %}

<div class="row">
	<div class="large-6 small-centered columns">
		{% for flashMessage in app.session.flashbag.get('formErrors') %}
			<p>{{ flashMessage }}</p>
		{% endfor %}

		{{ form_start(form, {
			'method': 'POST',
			'action': path('user_reset_password', {'_locale': app.request.attributes.get('_locale'), 'id': user.id }),
			'attr': {'novalidate': 'novalidate', 'class':"form-horizontal", 'id':'resetPassword' }})
			}}
		{{ form_errors(form) }}

		<section class="search">
			<div class="large-1 medium-1 small-1 columns marker-icon">
				<i class="map-marker-icon fa fa-lock"></i>
			</div>
			<div class="large-11 medium-11 small-11 columns search-moto">
				<h1 class="search-moto-head">{{ 'Reset password' | trans }}
				</h1>
			</div>
		</section>
		<section class="search-input1" style="padding: 0px 20px 0px 20px;">
			<div class="large-12 columns">
				<div class="row">
					<div class="row" style="padding-top: 15px;"></div>
					<div class="large-12 columns">
						{{ form_errors(form.password) }}
						{{ form_widget(form.password, { 'attr': {'required': 'required', 'class': 'form-control validate[required]'} }) }}
					</div>
					<div class="row" style="padding: 10px 0px 0px 0p;"></div>
					<div class="large-12 columns">
						{{ form_rest(form) }}
						<input type="submit" name="resetPassword" class="search-button" value="{{ 'save' | trans }}" />
					</div>
					<div class="row"></div>
				</div>
			</div>
			<div class="row"></div>
		</section>
	</div>
</div>



		{{ form_end(form) }}


	<div class="row" style="padding-top: 50px;"></div>
	{% block foundation_footer %}
		{% include 'includes/foundation-footer.html.twig'  %}
	{% endblock %}
{% endblock %}