{% extends 'admin.html.twig' %}

{% block title %}{{ 'profile' | trans }}{% endblock %}


    {% block sidemenu %}
        {% include 'includes/sidemenu-user.html.twig' %}
    {% endblock %}

{% block content %}


    <div class="large-6 columns"> 
 
        <div class="box">
            <div class="box-header bg-transparent">
                <!-- tools box -->
                <div class="pull-right box-tools">

                                    <span style="display: none;" class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                                    </span>
                                    <span style="display: none;" class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                                    </span>
                </div>
                <h3 class="box-title"><i class="icon-graph-pie"></i>
                    <span>{{ 'summary' | trans }}</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: block;">


                <div style="margin:0" class="row summary-border-top">
                    <div class="large-6 columns">
                        <div class="summary-nest">
                            <h2 class="text-black"><span class="counter-up">{{ statService.getHostBookingNum(app.user, 1) }}</span></h2>
                            <p>{{ 'bookings' | trans }}</p>
                        </div>

                    </div>
                    <div class="large-6 columns summary-border-left">
                        <div class="summary-nest">
                            <h2 class="text-black"><span class="counter-up">{{ statService.getHostBookingNum(app.user, 0) }}</span></h2>
                            <p>{{ 'pending_booking' | trans }}</p>
                        </div>
                    </div>
                </div>

                <div style="margin:0" class="row">
                    <div class="large-6 columns">
                        <div class="summary-nest summary-pad-nest">
                            <h4 class="text-left"><span class="counter-up">{{ 'now'|date('d') }}</span>/<span class="counter-up">{{ 'now'|date('m') }}</span>/<span class="counter-up">{{ 'now'|date('Y') }}</span></h4>
                            <p class="text-left">{{ 'today' | trans }}</p>
                        </div>
                    </div>
                </div>

                <div style="margin:0" class="row summary-border-bottom">
                    <div class="large-6 columns">
                        <div class="summary-nest summary-pad-nest">
                            <h2 class="text-black "><span class="counter-up">{{ statService.getAccommodationNumHost(app.user) }}</span></h2>
                            <p>{{ 'accommodations' | trans }}</p>
                        </div>

                    </div>
                    <div class="large-6 columns summary-border-left">
                        <div class="summary-nest summary-pad-nest">
                            <h2 class="text-black"><span class="counter-up">{{ statService.getUnitNumHost(app.user) }}</span></h2>
                            <p>{{ 'units' | trans }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end .timeline -->
            <div class="row">
                <p>{{ 'user_register' | trans }}: {{ app.user.createdAt | date('d.m.Y.') }}</p>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

 
{% endblock %}